# Data files (uncomment specific lines to track them)
*.csv
*.dta
*.xlsx


.env

# DATA
# SNAP ABAWD WAIVERS
1_data/10_raw/100_usda/1000_abawd_waivers/**/*.pdf
1_data/10_raw/100_usda/1001_abawd_openai_responses/**/*.json
